* {
    font-family: 'Nova Square', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 42px;
    font-weight: 300;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(145deg, #430a58, #04719a);
}

<<<<<<< HEAD
ul{
    position: relative;
        transform: skewY(-15deg)

}
ul li{
    position: relative;
    list-style: none;
    widows: 250px;
    background: #5e53e0;
    padding: 15px;
    z-index: var(--i);
    transition: .5s;
    box-shadow: 0px 0px 5px #fff;

}

ul li:hover{
    background: #9b73f5;
    transform: translateX(-45px);
    box-shadow: 0px 0px 5px #fff;
=======

>>>>>>> origin/main
}

ul li::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 40px;
    background: #5e53e0;
    transform-origin: bottom;
    transform: skewX(45deg);
    top:-40px;
    left: 0;
    box-shadow: 0px 0px 5px #fff;
    transition: .5s;
}
ul li::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 80px;
    background: #6530db;
    transform-origin: bottom;
    transform: skewy(45deg);
    top:-22px;
    left: -40px;
    box-shadow: 0px 0px 5px #fff;
    transition: .5s;

}

ul li a{

    text-decoration:  none;
    color:#b7b7b7;
    letter-spacing: 0.1em
}
ul li:hover a{
    color: rebeccapurple
}

ul li:last-child::before{
    box-shadow: -150px 150px 20px rgba(0, 0, 0, 0.38)
}
/*ul li img{
    position: absolute;
    top: 5px;
    left: -35px;
    bottom: 10px;
    width: 30px;
    height: 70%;
    transform-origin: right;
    transform: skewY(45deg)
}*/




